//===================== variables ======================


//----------------------- fonts ------------------------

$font-bold: Montserrat-Bold;
$font-extra-light-italic: Montserrat-ExtraLightItalic;
$font-extra-light: Montserrat-ExtraLight;
$font-light: Montserrat-Light;
$font-italic: Montserrat-Italic;
$font-regular: Montserrat-Regular;

//-------------------------------------------------------


//----------------------- colors ------------------------

$color-primary-grey: #6a696b;
$color-primary-grey-light: #8d8d8e;
$color-primary-black: #000000;
$color-primary-white: #ffffff;

//-------------------------------------------------------


//=======================================================
