/*===================== Variables =======================*/

/*------- GeneralHeader and GeneralFooter fonts ---------*/

$font-bold: Montserrat-Bold;
$font-extra-light-italic: Montserrat-ExtraLightItalic;
$font-extra-light: Montserrat-ExtraLight;
$font-light: Montserrat-Light;
$font-italic: Montserrat-Italic;
$font-regular: Montserrat-Regular;

/*-------------------------------------------------------*/

/*=======================================================*/
