<header class="general-header">
    <div class="general-header__top g-top-header">
        <div class="g-top-header__content _container">
            <div class="g-top-header__column g-header-info">
                <div class="g-header-info__logo">
                    <picture>
                        <source srcSet="img/logo-img.webp" type="image/webp" class="g-header-info__logo_img" />
                        <img src="img/logo-img.png" alt="logo-img" class="g-header-info__logo_img" />
                    </picture>
                </div>
                <div class="g-header-info__text">
                    <div class="g-header-info__text_username">
                        Poteryaev<br /> Aleksandr
                    </div>
                    <div class="g-header-info__text_userprof">
                        Front-End Developer
                    </div>
                </div>
            </div>
            <div class="g-top-header__column g-header-nav">
                <div class="g-header-nav__content">
                    <nav class="g-header-nav__column">
                        <ul class="g-header-nav__actions g-actions-header">
                            <li><a href='https://github.com/NightMareStories/Olimp.git' class="g-actions-header__link"
                                    target="_blank" rel="noopener noreferrer"><span>GitHub</span></a></li>
                            <li><a href='http://about-my-portfolio.site' class="g-actions-header__link" target="_blank"
                                    rel="noopener noreferrer"><span>My Portfolio</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>